<a href="https://colab.research.google.com/github/SandeepJosyula/NeuralNetworks/blob/master/NLP_GRP4_CapStone_V1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [1]:
%tensorflow_version 2.x
import tensorflow
tensorflow.__version__

'2.3.0'

In [2]:
# Initialize the random number generator
import random
random.seed(0)

# Ignore the warnings
import warnings
warnings.filterwarnings("ignore")

from tensorflow.keras.datasets import imdb

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import textwrap

from keras        import models, regularizers, layers, optimizers, losses, metrics
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Activation, TimeDistributed
from keras.utils  import np_utils, to_categorical

# Read Data

In [6]:
missing_values = ["?","--"]
raw_data = pd.read_excel('/content/drive/My Drive/PGPAIML_Capstone/input_data.xlsx',na_values=missing_values)
raw_data.head(5)

               Short description  ... Assignment group
0                    login issue  ...            GRP_0
1                        outlook  ...            GRP_0
2             cant log in to vpn  ...            GRP_0
3  unable to access hr_tool page  ...            GRP_0
4                   skype error   ...            GRP_0

[5 rows x 4 columns]

In [7]:
raw_data.describe().T

                  count unique                top  freq
Short description  8492   7481     password reset    38
Description        8499   7817                the    56
Caller             8500   2950  bpctwhsn kzqsbmtp   810
Assignment group   8500     74              GRP_0  3976

In [8]:
raw_data["Description"][2]

'\r\n\r\nreceived from: eylqgodm.ybqkwiam@gmail.com\r\n\r\nhi\r\n\r\ni cannot log on to vpn\r\n\r\nbest '

# EDA

# Pre-processing